<div class="documents__content">
    {{#documents}}
        <div class="documents__col">
            <div class="documents__cover">{{name}}</div>
            <div class="documents__files">
                {{#files}}
                    <div class="documents__file" data-file={{file}}>
                        <a href="/public/documents/{{file}}" target="_blank">
                            {{name}}
                        </a>
                        <div class="documents__file-icon" ></div>
                    </div>
                {{/files}}
            </div>
        </div>
    {{/documents}}
</div>
