<div class="manifest__wrapper">
    <div class="manifest__content">
        {{#principles}}
        <div principle="{{id}}" class="manifest__principle">
                <div class="manifest__principle-card">
                    <div class="manifest__principle-inner">
                        <div class="manifest__principle-image"></div>
                        <!-- <p>{{name}}</p> -->
                        <div class="manifest__principle-description">
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{/principles}}
    </div>
</div>
