@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:700');

@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold'), url('MYRIADPRO-BOLD.woff') format('woff');
}

:root {
  --sun-color: #ffba00;
  --moon-color: #2d4c77;
  --font-color: #222222;
  --primary-color: white;
  --secondary-color: #2a2c31;
  --header-height: 100px;
}

body {
  font: 400 14px/1.6 'Myriad Pro Bold', sans-serif;
}

@media (orientation: portrait) {
  body {
    font: 400 12px/1.6 'Myriad Pro Bold', sans-serif;
  }
}


.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

/*HEADERFOOTER*/

header {
  height: var(--header-height);
  position: fixed;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 10;
}

.header__logo {
  margin-left: 20px;
  height: 70px;
}

.opaque {
  background-color: white;
  box-shadow: 2px 0px 10px #00000055;
}

@media screen and (max-width: 600px) {
  header {
    height: 70px;
  }

  .header__logo {
    height: 40px;
  }
}

footer {
  height: 600px;
  position: relative;
  width: 100%;
  background-color: #222222;
  padding: 5vh 15vw;
}

footer p, footer h2 {
  text-align: center;
  color: var(--primary-color);
}

footer h2 {
  letter-spacing: 0.8em;
}

footer h2 span {
  color: var(--sun-color);
}

footer h2 span:last-child {
  color: var(--moon-color);
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
}

/*MENU NAV*/
nav ul {
  list-style: none;
  background-color: transparent;
}

nav ul li {
  display: inline-block;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: normal;
}

@media (orientation: portrait) {
  .btn {
      font-size: 0.6em;
      padding: 0.5em 1.5em 0.6em;
  }
}

@media (max-width: 600px) {
  .btn {
      font-size: 0.45em;
      padding: 0.4em 1em 0.5em;
  }
}