/*ESTILS PÀGINES INFO CURSES*/

.moon header.opaque {
    background-color: var(--moon-color);
}

.sun header.opaque {
    background-color: var(--sun-color);
}

.sun header .header__navmenu-item a,
.moon header .header__navmenu-item a {
    color: var(--primary-color);
}

#info-track {
    padding-top: 15%;
    text-align: left;
}

@media (orientation: portrait) {
    #info-track {
        padding-top: 20%;
    }   
}

@media (max-width: 750px) {
    #info-track {
        padding-top: 30%;
    }   
}

.moon #info-track {
    background-size: cover;
    background-image: url(../img/moon-bg.png);
    color: var(--primary-color);
}

.sun #info-track {
    background-size: cover;
    background-image: url(../img/sun-bg.png);
    color: var(--primary-color);
}

#info-track h1 {
    font-size: 2rem;
    border-bottom: .5px solid;
}

#info-track img {
    padding: 10% 10% 1%;
    filter: drop-shadow(2px 4px 6px black);
}

#info-track .info-track__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#info-track .info-track__buttons a {
    color: var(--primary-color);
}

.moon #info-track .info-track__buttons .btn--primary:hover {
    background-color: var(--sun-color);
}

.sun #info-track .info-track__buttons .btn--primary:hover {
    background-color: var(--moon-color);
}

@media screen and (max-width: 600px) {
    #info-track img {
        padding: 10% 1% 5%;
    }   
}

#info-track ol {
    padding: 0px;
}

#info-track ol li {
    font-size: 0.9rem;
    color: #ffffffcc;
}

#info-track ol li span {
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
}

@media screen and (max-width: 600px) {
    #info-track ol li {
        font-size: .8rem;
    }
    
    #info-track ol li span {
        font-size: .9rem;
        font-weight: bold;
        color: var(--primary-color);
    }   
}

.race-details {
    border-bottom: .5px solid;
}

.sun .opaque .navmenu-burger__icon,
.moon .opaque .navmenu-burger__icon {
    background-image: url(../img/burger-icon.svg);
}