@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:700');
@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold'), url('MYRIADPRO-BOLD.woff') format('woff');
  }

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

body{
  margin-bottom: 175px;
  font: 400 16px/1.6 'Myriad Pro Bold', sans-serif;
}

h1, h2 {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: orange;
  cursor: pointer;
}


.container{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

/*HEADERFOOTER*/

header{
  height: 75px;
  position: fixed;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__logo{
  height: 75px;
  padding: ;
}
.opaque{
  background-color: whitesmoke;
  height: 75px;
}
footer{
  height: 90px;
  position: relative;
  width: 100%;
  background-color: #706f6f;
}

footer p{
  text-align: center;
}

.floatright{
  float: right;
}
.floatleft{
  float: left;
}

/*MENU NAV*/
nav ul {
  list-style: none;
  background-color: transparent;
}
nav ul li {
  display: inline-block;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: normal;
}

.scroll-link:hover{
  color: #706f6f;
}


body[section="info"] .header_navmenu_item:nth-child(1) a {
  color: #706f6f;
  font-weight: bold;
}

body[section="track"] .header_navmenu_item:nth-child(2) a {
  color: #706f6f;
  font-weight: bold;
}

body[section="inscripcions"] .header_navmenu_item:nth-child(3) a {
  color: #706f6f;
  font-weight: bold;
}

body[section="media"] .header_navmenu_item:nth-child(4) a {
  color: #706f6f;
  font-weight: bold;
}

body[section="resultats"] .header_navmenu_item:nth-child(5) a {
  color: #706f6f;
  font-weight: bold;
}

body[section="documents"] .header_navmenu_item:nth-child(6) a {
  color: #706f6f;
  font-weight: bold;
}


/*NAVEGADOR LATERAL*/
#navlateral{
  z-index: 50;
  width: 33px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100px; */ /* si no s'indica un height el seu contingut li dona /*
  /* min-width: 12px; */ /* si té un contingut definit sabem que sempre tindrà amplada i no fa falta definir-li */
  /* min-height: 48px; */ /* si té un contingut definit sabem que sempre tindrà altura i no fa falta definir-li */
  /* justify-self: end; */ /* no se que fa però l'he desactivat i no canvia res */
  /* margin-right: 40px; */ /* no se quina funció té */
  /* align-self: center; */ /* no se que fa però l'he desactivat i no canvia res */
  /* position: absolute; */
  position: fixed; /* Igual que el paralax, al position fixed fa la posició relativa no al document sinó a la fienstra, de forma que pots fer scroll i es manté sempre al mateix lloc*/
  /* grid-area: 1 / 1 / 2 /2; */ /* no se que fa però l'he desactivat i no canvia res */
  /* pointer-events: auto; */ /* És la propietat per defecte, no fa falta declarar-la */
  }
  
  .style_navlateral{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    justify-self: center;
    /* height: 100%; */
  }
  
  .style_navlateral_item{
    position: relative;
    padding-top: 7px;
  }
  
  .style_navlateral_symbol{
    fill: transparent;
    transition: all 0.2s ease-in-out;
    stroke: white;
    stroke-width: 4px;
    -webkit-box-flex: 0;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  }

  nav a:hover circle{
    fill: cyan;
  }
  
  body[section="inici"] .style_navlateral_item:nth-child(1) .style_navlateral_symbol {
    fill: cyan;
  }

  body[section="info"] .style_navlateral_item:nth-child(2) .style_navlateral_symbol {
    fill: cyan;
  }

  body[section="track"] .style_navlateral_item:nth-child(3) .style_navlateral_symbol {
    fill: cyan;
  }

  body[section="inscripcions"] .style_navlateral_item:nth-child(4) .style_navlateral_symbol {
    fill: cyan;
  }

  body[section="media"] .style_navlateral_item:nth-child(5) .style_navlateral_symbol {
    fill: cyan;
  }

  body[section="resultats"] .style_navlateral_item:nth-child(6) .style_navlateral_symbol {
    fill: cyan;
  }

  body[section="documents"] .style_navlateral_item:nth-child(7) .style_navlateral_symbol {
    fill: cyan;
  }








.section{
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}
.parallax{
  background-attachment: fixed;

}
#inici{
  background-image: url("../img/bg-2.jpg");
  height: 750px;
}
#inici h1{
  text-align: center;
  line-height: 750px;
}
#info{
  background-color: aqua;
  height: 1500px;
}
#track{
  background-image: url("..//img/bg-1.jpg");
  height: 500px;
  
}
#inscripcions{
  background-color: wood;
  height: 500px;
}
#media{
  background-color: blueviolet;
  height: 500px
}
#resultats{
  background-color: chartreuse;
  height: 600px;
}
#documents{
  background-color: rgb(116, 39, 146);
  height: 600px;
}





  