#doc-title {
	font-size: 40px;
	font-family: "Lucida Console", Arial, monospace;
	width:100vw;
	
	
}

.doc-summary{
	font-family:  Arial, monospace;
	
}

.doc-content{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: calc(100vh - 125px);
	margin: 0px 35px 0px 35px;
}

.doc-row{
	/*border: 1px solid #ccc;
	border-radius:16px;*/
	/*height: 100px;*/
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex:1;
	font-family:  Arial, monospace;
}

.doc-contain-pic{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	border: 1px solid #ccc;
	border-radius:16px;
	height:80%;
	width:20%;
	align-self:center;
	margin: 0px 25px 0px 25px;
	font-size: 25px;
	font-family: "Lucida Console", Arial, monospace;
}



.doc-text{
	/*border: 1px solid #ccc;
	border-radius:16px;*/
	/*height:80%;*/
	align-self:center;
	width:100%;
}