.equip-content
    padding: 5%
    display: grid
    grid-template-columns: repeat(4, 1fr)
    row-gap: 90px

    // .img-row
.img-name
    //padding-left: 8%
    padding-right:8%;
    font-size: 25px;
    text-align: center
.img-details
    //padding-left: 8%
    padding-right:8%;
    font-size: 15px;
    text-align: center;
.img-quote
    padding-top: 8%;
    padding-right:8%;
    font-size: 15px;
    text-align: center;

.collaboradors-content
    padding: 5%
    display: grid
    grid-template-columns: repeat(4, 1fr)
    row-gap: 90px

    