/*PORTADA*/
#app {
    position: relative;
    font-family: Arial, monospace;
    overflow-x: hidden;
    
}



#header {
	font-size: 40px;
	font-family: "Lucida Console", Arial, monospace;
	position: fixed;
	width:100vw;
	background-color: #E8E8E8;
	
}


.img-container{
	/*top: 40px;
	width:100vw;
	height:calc(100vh - 40px);*/
	/*background-size: cover;
	width: 100vw;
	height: 100vh;*/
	
}



.img1{
	/*border: 1px solid #ccc;
	border-radius:16px;*/
	/*margin: 0;*/
	overflow-x: hidden;
	overflow-y: hidden;
	/*background-size: 100% 100%;*/
	background-size: cover;
	width: 100vw;
	height: 100vh;
	background-image: url('pics/1.jpg');
	position: relative;
	z-index: -1;

	/*width:100vw;*/
	/*object-fit:	;*/

}

.img2{
	/*border: 1px solid #ccc;
	border-radius:16px;*/
	/*margin: 0;*/
	overflow-x: hidden;
	overflow-y: hidden;
	/*background-size: 100% 100%;*/
	background-size: cover;
	width: 100vw;
	height: 100vh;
	background-image: url('pics/2.jpg');
	position: relative;
	z-index: -1;

	/*width:100vw;*/
	/*object-fit:	;*/

}

.img3{
	/*border: 1px solid #ccc;
	border-radius:16px;*/
	/*margin: 0;*/
	overflow-x: hidden;
	overflow-y: hidden;
	/*background-size: 100% 100%;*/
	background-size: cover;
	width: 100vw;
	height: 100vh;
	background-image: url('pics/3.jpg');
	position: relative;
	z-index: -1;

	/*width:100vw;*/
	/*object-fit:	;*/

}

.img4{
	/*border: 1px solid #ccc;
	border-radius:16px;*/
	/*margin: 0;*/
	overflow-x: hidden;
	overflow-y: hidden;
	background-size: 100% 100%;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	background-image: url('pics/4.jpg');
	position: relative;
	z-index: -1;

	/*width:100vw;*/
	/*object-fit:	;*/

}

.img5{
	/*border: 1px solid #ccc;
	border-radius:16px;*/
	/*margin: 0;*/
	overflow-x: hidden;
	overflow-y: hidden;
	background-size: 100% 100%;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	background-image: url('pics/5.jpg');
	position: relative;
	z-index: -1;

	/*width:100vw;*/
	/*object-fit:	;*/

}

.img6{
	/*border: 1px solid #ccc;
	border-radius:16px;*/
	/*margin: 0;*/
	overflow-x: hidden;
	overflow-y: hidden;
	/*background-size: 100% 100%;*/
	background-size: cover;
	width: 100vw;
	height: auto;
	/*height: 100vh;*/
	background-image: url('pics/6.jpg');
	position: relative;
	z-index: -1;

	/*width:100vw;*/
	/*object-fit:	;*/

}

.img-text{
	font-size: 80px;
	font-family: "Lucida Console", Arial, monospace;
	position: absolute;
	text-align: center;
	width: 100%;
	top:50%;
	
}

#footer {
	font-size: 25px;
	font-family: "Lucida Console", Arial, monospace;
	width:100vw;
	height:200px;
	background-color: #E8E8E8;
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
	
}


.foot-text{
	text-align: center;
	width: 100%
}