@font-face
  font-family: "IBM Plex Sans"
  src: url("../../../public/fonts/IBMPlexSans-Regular.ttf")
  font-weight: 400
  font-style: normal

@font-face
  font-family: "IBM Plex Sans"
  src: url("../../../public/fonts/IBMPlexSans-Bold.ttf")
  font-weight: 900
  font-style: normal

@font-face
  font-family: "IBM Plex Sans"
  src: url("../../../public/fonts/IBMPlexSans-Italic.ttf")
  font-weight: 400
  font-style: italic

@font-face
  font-family: "IBM Plex Sans"
  src: url("../../../public/fonts/IBMPlexSans-Light.ttf")
  font-weight: 300
  font-style: normal

@font-face
  font-family: "IBM Plex Sans"
  src: url("../../../public/fonts/IBMPlexSans-Thin.ttf")
  font-weight: 200
  font-style: normal
