@import "./colors.styl"
@import "./fonts.styl"
@import "./variables.styl"

*
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    font-family: "IBM Plex Sans"
    font-size: 16px
    line-height: 1.6
    color: $shark
    font-kerning: normal
    box-sizing: border-box

body
    margin: 0
    padding: 0px

a
    text-decoration: none
