<div id="equip">
    <div class="equip__content">
        <div class="equip__section" section="people">
            <!-- <h1 class="equip__section-title">PERSONES</h1>  -->
            <div class="equip__section-grid">
                {{#images}}
                    <div class="equip__grid-item">
                        <div class="equip__item-img" style="background-image: url('{{file}}');"></div>
                        <div class="equip__item-description">
                            <div class="equip__item-name">
                                <p>{{fullname.name}}</p>
                                <p>{{fullname.surnames}}</p>
                            </div>
                            <div class="equip__item-details">
                                <p>{{details.date}}</p>
                                <p>{{details.level}}</p>
                                <p>{{details.position}}</p>
                                <p>{{details.department}}</p>
                            </div>
                            <div class="equip__item-quote">
                                <p><i>{{quote}}</i></p>
                            </div>
                        </div>
                    </div>
                {{/images}}
            </div>
        </div>
        <div class="equip__section" section="collaborators">
            <h1 class="equip__section-title">COL·LABORADORS</h1>
            <div class="equip__section-grid">
                {{#images2}}
                    <div class="equip__grid-item">
                        <div class="equip__item-img" style="background-image: url('{{file}}');"></div>
                        <div class="equip__item-description">
                            <div class="equip__item-name">
                                <p>{{fullname.name}}</p>
                                <p>{{fullname.surnames}}</p>
                            </div>
                            <div class="equip__item-details">
                                <p>{{details.date}}</p>
                                <p>{{details.level}}</p>
                                <p>{{details.position}}</p>
                                <p>{{details.department}}</p>
                            </div>
                            <div class="equip__item-quote">
                                <p><i>{{quote}}</i></p>
                            </div>
                        </div>
                    </div>
                {{/images2}}
            </div>
        </div>
    </div>
</div>
