<div id="projectView" >
<div class="project__content">
    <div class="project__child-wrapper">
        <div class="project__child" template="1">
            <div class="project__child-txt">$lng(project_text_1)</div>
        </div>
    </div>
    <div class="project__child-wrapper">
        <div class="project__child" template="2">
            <div class="project__child-txt">$lng(project_text_2)</div>
            <div class="project__child-img"></div>
        </div>
    </div>
    <div class="project__child-wrapper">
        <div class="project__child" template="2r">
            <div class="project__child-txt">$lng(project_text_2)</div>
            <div class="project__child-img"></div>
        </div>
    </div>
    <div class="project__child-wrapper">
        <div class="project__child" template="3">
            <div class="project__child-img"></div>
        </div>
    </div>
    <div class="project__child-wrapper">
        <div class="project__child" template="4">
            <div class="project__child-txt">$lng(project_text_4)</div>
        </div>
    </div>
</div>
</div>
