@import "./Cover.styl";
@import "./Manifest.styl";
@import "./Project.styl";
@import "./Team.styl";
@import "./Gallery.styl";
@import "./Documents.styl";

.home-section__wrapper
  width: 100%
  height: 100%
  display: block

.home-section__content
  width: 100%
  height: 100%

  &.image
    display: flex
    flex-direction: column
    justify-content: flex-end
    background-repeat: no-repeat
    background-position: 50%
    background-size: cover

  .nav-pannel
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end
    padding: 1rem 2rem

  .nav-pannel__title
    color: white
    text-transform: uppercase
    line-height: 0

  .nav-pannel__btn
    color: white
    font-size: 3.5rem
    text-align: right
    cursor: pointer
    line-height: 45px
    font-weight: 300

