#manifest
  .manifest__wrapper
    padding: 130px 5% 10%
    height: 100%
    display: flex
    align-items: center

  .manifest__content
    flex: 1
    display: flex
    flex-flow: wrap
    justify-content: space-evenly
    align-items: center

  .manifest__principle
    position: relative
    flex: 1
    flex-basis: 200px
    flex-grow: 0
    flex-shrink: 0
    height: 280px
    padding: 10px

    @media screen and (min-width: 1500px)
      flex-basis: 250px
      height: 350px

    @media screen and (max-width: 600px)
      flex-basis: 150px
      height: 210px

  .manifest__principle-card
    height: 100%
    width: 100%
    background-color: transparent
    perspective: 1000px
    cursor: help

    &:hover
      .manifest__principle-inner
        transform: rotateY(180deg)

  .manifest__principle-inner
    position: relative
    transition: transform 800ms
    transform-style: preserve-3d
    width: 100%
    height: 100%

  .manifest__principle-image
  .manifest__principle-description
    position: absolute
    backface-visibility: hidden
    width: 100%
    height: 100%

  .manifest__principle-image
    background-size: cover
    background-repeat: no-repeat

  .manifest__principle-description
    transform: rotateY(180deg)
    border: .5px solid #ddd
    padding: 10px

    p
      margin: 0
