@import './styles/reset/index.styl';
@import './styles/App.styl';
@import './styles/components/Header.styl';
@import './styles/components/Footer.styl';
@import './styles/components/LngMenu.styl';
@import './styles/views/Home.styl';
@import './styles/views/Documents.styl';
@import './styles/views/Project.styl';
@import './styles/views/Gallery.styl';
@import './styles/views/home-sections/index.styl';
@import './styles/views/Equip.styl';
@import './styles/views/Patrocinadors.styl';
